/*text-marking for all*/
mark{
    background-color: lightgrey;
}
/*for all text line spacing*/
div p{
    line-height: normal;
}
/*main-----velohouse*/
.row{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(228, 231, 230);
    padding: 10px;
    height: 600px;
}
/*velohouse/heading*/
h1{
    font-family:Arial Black;
    margin-left: 50px;
    text-shadow: -1px 0 rgb(66, 3, 3), 0 1px rgb(70, 5, 5), 1px 0 rgb(73, 4, 4), 0 -1px rgb(61, 3, 3);
}
h2{
    text-align: center;
    font-display: underline;
    text-shadow: 2px 2px 3px grey;
    text-decoration-line: underline;
    text-indent: 50px;
    font-family: Tahoma;
}
/*velohouse-images-column*/
p::first-letter{
    font-size: 30px;
    color: #650e0e;
}
.velo{
    margin-bottom: 50px;
}
.image-size{
    width: 500px;
    padding-top: 20px;
    box-shadow: 0px 10px 5px 0px #888888; 
}
.column{
    background-color:white;
       height: 400px;
       margin-top: 100px;
       display: flex;
       justify-content: center;
       padding: 10px;
}
/*velohouse/emc/fimi-text-box*/
.card-sm-text{
    background-color:white;
       padding: 10px;
       box-shadow: 0px 10px 5px 0px #888888;
       text-align: left;
}
/*velohouse-text-column*/
.velo1{
    background-color: white;
    padding: 15px;
    text-align: center;
    height: 300px;
}
/*emc-image-column*/
.emc{
    margin-bottom: 50px;
}
/*emc1-text-column*/
.emc1{
    background-color: white;
    padding: 15px;
    text-align: center;
    height: 450px;
}
/*fimi-text-column*/
.fimi{
    margin-bottom: 50px;
    height: 300px;
}
.fimi-row{
    height:500px ;
}
/*fimi1-Fimi & Ta Sats-text-column*/
.fimi1{
    background-color: white;
    padding: 15px;
    text-align: center;
    height: 300px;
}


