/*text-marking for all*/
.container{
    height: 700;
}
/*text-marking for all*/
mark{
    background-color: lightgrey;
}
/*for all text line spacing*/
div p{
    line-height: normal;
}
/*for all p first letter highlight*/
p::first-letter{
    font-size: 25px;
    color: #363434;
}
/*main-----velohouse*/
.row{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(228, 231, 230);
    padding: 20px;
    height: 500px;
    margin-bottom: 30px;
}
/*column specs. for velo boxes*/
.column{
    background-color:white;
       height: 400px;
       margin-top: 60px;
       padding: 30px;
       padding-top: 0px;
}
.column1{
    background-color:white;
       height: 375px;
       padding: 20px;
}
/*heading*/
h1{
    font-family:Arial Black;
    margin-left: 50px;
    text-shadow: -1px 0 rgb(66, 3, 3), 0 1px rgb(70, 5, 5), 1px 0 rgb(73, 4, 4), 0 -1px rgb(61, 3, 3);
}
.image-size{
    width: 450px;
    box-shadow: 0px 10px 5px 0px #888888; 
}
/*velohouse/emc/fimi-text-box*/
.card-sm-text{
    background-color:white;
    padding: 30px;
    box-shadow: 0px 10px 5px 0px #888888;
    text-align: left;
}
/*velohouse main heading text*/
#velotext{
    font-family: Tahoma;
    text-align: center;
}
#velotext::first-letter{
    font-size: 40px;
    color:  #650e0e;
}
/*velohouse-emc1-text-column*/
.velo1 .emc1{  
    background-color: white;
    padding: 30px;
}
/*column and row specs. for emc boxes*/
.column2{
    background-color:white;
       height: 480px;
       padding: 30px;
       text-align: center;
}
.column3{
    background-color:white;
       height: 480px;
       margin-top: 80px;
       padding: 25px;
}
.emc-row{
    background-color: rgb(228, 231, 230);
    height: 650px;
}
/*emc-fimi-main-heading*/
.emc-text{
    text-align: center;
    font-family: Tahoma;
    font-size: 25px;
}
/*hypercafe-main heading*/
.hypercafe-text{
       text-align: left;
       font-family: Tahoma;
       font-size: 25px;
       text-decoration-line: underline;
}
/*ta-sats-text-column*/
.column4{
    background-color:white;
    margin-top: 100px;
    padding: 30px;
    height: 365px;
}
/*fimi-row*/
.fimi-row{
    height:550px ;
}
/*for ta-sats-main-text*/
.ta-sats-text{
    text-align: center;
    font-family: Tahoma;
}
.ta-sats-text::first-letter{
    font-size: 40px;
    color:  #650e0e;
}
/*for fimi-text*/
.fimi-content{
    text-align: left;
    height: 300px;
}
/*for fimi-main-text*/
.fimi-text{
    text-align:center;
    font-family: Tahoma;
}
.fimi-text::first-letter{
    font-size: 40px;
    color:  #650e0e;
}
/*fimi1-Fimi--text-column*/
.fimi1{
    background-color: white;
    text-align: center;
    padding: 30px;
}
/*column4  for fimi boxes*/
.column5{
    background-color:white;
       height: 400px;
       text-align: center;
       margin-bottom: 80px;
}


@media (min-width: 768px) and (max-width: 1024px){

    .column{
           height: 300px;
    }
    .column1{
           height: 460px;
    }
    .column2{
           height: 700px;
    }
    .column4{
           height: 450px;
    }
    .column5{
           height: 550px;
           margin-bottom: 0px;
    }
    .emc-row{
        height: 750px;
    }
    .fimi-row{
        height: 600px;
    }
    .fimi-content{
       height: 470px;
    }
}


