/*body{
    background-image: url("fotoshop.jpg");
    background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   background-attachment: fixed;
   
}
.header{
    background-color: brown;
    width: 100%;
    height: 150px;
}
navbar
li {
    display: inline;
}
li .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    float:right;
}
.navbar{
    height: 300px;
    background-color: darkolivegreen;
}
.nav-pills{
    background: #f15556;
    color: #000;
    list-style-type: none;
    padding: 10px;
}
.nav-link{
    margin-left: 30px;
    padding: 20px;
}
#menu a:hover{
    background-color: #ddd;
    color: black;
}
.active{
    background-color: cornflowerblue;
    margin-left: 20px;
}
.logo-image{
    width: 70px;
    height: 70px;
    float: left;
    margin: 30px;
    border:rgb(224, 144, 52) solid;
    border-block-end-width: 5px;
    border-block-start-width: 5px;
    border-left-color: #dbd817;
    border-right-color: #dbd817
   
}
.nav-pills img{
    box-shadow: 8px 8px 6px rgb(65, 62, 62); 

}
#logo_text{
    float: left;
}*/


/*main-----velohouse*/
.container{
    margin-left: 100px;
    margin-right: 100px;
    background-color: aquamarine;
    padding: 30px;
}
.col-sm-6{
       border: #000 solid;
       height: 400px;
}
.col-sm-4{
    background-color: rgb(208, 242, 243);
    border: #000 solid;
    padding: 5px;
   margin: 20px;
}
.velo{
    width: 200px;
    height: 200px;
    margin: 2px;
}
.velo1{
    width: 200px;
    height: 200px;
    margin: 2px;
}
